<div class="container">
    <form [formGroup]="fundraiserForm" >
        <div  class="home-container">
            <h2 class="title-style-1">New Fundraiser <span class="title-under"></span></h2>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="title"  formControlName="title" >
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Goal </mat-label>
                    <input matInput placeholder="goal" formControlName="goal" >
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="description"  formControlName="description" >
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>type</mat-label>
                <mat-select  formControlName="type">
                    <mat-option *ngFor="let status of status" [value]="status.value" >
                        {{status.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Target</mat-label>
                    <input matInput  placeholder="target" formControlName="target" >
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>

            <button class="btn btn-primary button"  (click)="addFundraiser()" >Create</button>
        </div>
    </form>
</div>





